.section-contato {
    min-height: 30vh;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

.contatos h2,
.redes-sociais h2 {
    padding-bottom: 20%;
}

.contato-tel,
.contato-cel,
.contato-whatsapp {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.contato-tel a,
.contato-cel a,
.contato-whatsapp a {
    font-size: 24px;
    transition: .3s ease-in-out;
}

.contato-tel a:hover,
.contato-cel a:hover,
.contato-whatsapp a:hover {
    color: rgb(54, 221, 48);
}

.endereco {
    align-self: flex-end;
    font-size: 12px;
    margin-bottom: 10px;
}

.sociais {
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
}

.sociais li a {
    transition: .3s ease-in-out;
}

.sociais li a:hover {
    color: rgb(54, 221, 48);
}