body {
    display: flex;
    justify-content: center;
    background-color: darkgoldenrod;
}

.main {
    max-width: 1440px;
    padding: 0 3%;
}

.div-inicio-ilustracao,
.div-sobrenos-ilustracao {
    min-width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background: no-repeat center;
    background-size: cover;
    filter: brightness(80%);
    opacity: 0;
    transition: .3s ease-in-out;
    z-index: -1;
    border-radius: 10px;
}

.div-inicio-ilustracao.visivel,
.div-sobrenos-ilustracao.visivel {
    opacity: 1;
}