.nav-header {
    display: flex;
    justify-content: space-between;
}

.img-logo {
    width: 100px;
}

.ul-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ul-header li a {
    padding: 15px;
    transition: .3s ease-in-out;
}

.ul-header li a:hover {
    color: rgb(15, 15, 223);
}