.section-inicio {
    min-height: 83vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-inicio h1 {
    font-size: 36px;
    text-shadow: 0 2px 10px #FFF;
}

.ilustacao0 {
    background-image: url(../assets/images/6ca8e3e0-06fd-4e47-b0ba-e9e8776e3aed.jpg);
}

.ilustacao1 {
    background-image: url(../assets/images/78e0ada4-5eb7-4cb5-9503-7f3b73a73fb7.jpg);
}

.ilustacao2 {
    background-image: url(../assets/images/8f2af9dd-26b5-4533-a90e-705fc7953092.jpg);
}

.ilustacao3 {
    background-image: url(../assets/images/ed318e96-bedc-48b4-ae57-a0c6871932ee.jpg);
}